@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

/* Global CSS */

body {
  margin: 0;

  -webkit-font-smoothing: "Montserrat", serif;
  -moz-osz-font-smoothing: "Montserrat", serif;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
:root {
  --hue: 358;
  --github: hsl(333, 77%, 52%);

  --links-color: hsl(
    35,
    65%,
    61%
  ); /*---call to action, pulsanti principali, link e icone */
  --sections-color: hsl(
    38,
    80%,
    69%
  ); /*evidenziazione di contenuto, sfondi di sezioni */
  --title-color: hsl(
    0,
    45%,
    31%
  ); /* testi dei titoli, header, footer, bordi di sezioni*/
  --text-color-light: hsl(
    92,
    21%,
    65%
  ); /*sezioni informative, pulsanti secondari, elementi decorativi */
  --body-color: hsl(36, 47%, 89%); /*sfondo principale del sito */
  --sixth-color: hsl(
    35,
    63%,
    44%
  ); /*bordi di pulsanti, piccoli accenti, icone decorative o highlights di contenuto */
  --black-color: hsl(
    0,
    0%,
    15%
  ); /*testi principali, linee di divisione, icone di navigazione */
  --white-color: hsl(
    40,
    20%,
    95%
  ); /*sfondo secondario, moduli di contatto, contenitori di testi o immagini */
}
.hero--section--title {
  font-family: "Dancing script", serif;
  font-size: 40px;
}
.btn {
  font-family: "Dancing script";
  display: flex;
  padding: 32px 40px;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  justify-content: center;
  text-decoration: none;
  border-radius: 40px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}

.btn-outline-primary {
  color: var(--white-color);
  background-color: var(--links-color);
  border: 1px solid var(--links-color);
}

.btn-outline-primary:hover {
  color: var(--links-color);
  background-color: var(--white-color);
}

.btn-primary {
  color: var(--white-color);
  background-color: var(--links-color);
  border: 1px solid var(--links-color);
}

.btn-primary:hover {
  color: var(--links-color);
  background-color: var(--white-color);
}
.btn-github {
  color: var(--white-color);
  background-color: var(--github);
  border: var(--github);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
  gap: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 85.333px;
  background: var(--links-color);
  box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar--items > ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 42.667px;
  text-decoration: none;
}
.navbar--items ul > li > a {
  text-decoration: none;
}
/* Navbar Content */
.navbar--content {
  color: var(--darkblue);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
.navbar--active-content {
  color: var(--primary);
}
.logo {
  border-radius: 15px;
}
.hero--img {
  width: 100%;
}

.hero--section--title {
  font-family: "Crimson text", serif;
  margin: 15px;
}

.hero--section--description {
  font-family: "Montserrat", sans-serif;
  margin-left: 15px;
  margin-bottom: 15px;
}
/* Hero section style Ends*/

/*Products style starts */
.products--section--subtitle {
  font-family: "Crimson Text";
}

.products--section {
  display: flex;
  padding: 149.33px 85.33px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 106.667px;
}

.products--section--heading {
  color: var(--links-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
}

.products--section--container {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  gap: 42.6px;
  grid-template-columns: repeat(4, 1fr);
}
.products--section--card {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
  border-radius: 10.6px;
  background: var(--body-color);
  min-height: 250px;
}
.products--section--card:hover {
  border-bottom: 4px solid var(--sections-color);
}

.products--section--card:hover .products--section--description {
  color: var(--sixth-color);
}

.products--section--img {
  display: flex;
  padding: 13.3px;
  justify-content: center;
  align-items: center;
  gap: 13.3px;
  border-radius: 10.6px;
  background: var(--body-color);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
}
.products--section--title {
  padding: 14px;
}

.products--section--card--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-items: stretch;
}

.products--section--description {
  color: var(--black-color);
  font-size: 21.3px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.products--section--subtitle {
  font-family: "Crimson Text";
  font-weight: 600;
  font-style: normal;
  font-size: 26px;
}

/* Products style end */

/*About style */
.about--section {
  display: grid;
  padding: 133.3px 85.3px;
  align-items: center;
  gap: 114.6px;
  grid-template-columns: repeat(2, 1fr);
}

.about--section--img > img {
  width: 100%;
  height: 100%;
}
/*About style ends*/
