@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

/* Global CSS */

body {
  margin: 0;

  -webkit-font-smoothing: "Montserrat", serif;
  -moz-osz-font-smoothing: "Montserrat", serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.my-link-element {
  font-style: normal;
  color: var(--black-color);
  font-family: "Crimson Text", serif;
  text-decoration: none;
}

.my-link-element:hover {
  color: var(--github);
  text-decoration: underline;
}

.my-link-element:visited {
  color: var(--darkblue);
  text-decoration: overline;
}

:root {
  --hue: 358;
  --github: hsl(333, 77%, 52%);

  --links-color: hsl(35, 65%, 61%);
  --sections-color: hsl(38, 80%, 69%);
  --title-color: hsl(0, 45%, 31%);
  --text-color-light: hsl(92, 21%, 65%);
  --body-color: hsl(36, 47%, 89%);
  --sixth-color: hsl(35, 63%, 44%);
  --black-color: hsl(0, 0%, 15%);
  --white-color: hsl(40, 20%, 95%);
}

.btn {
  font-family: "Dancing script";
  display: flex;
  padding: 32px 40px;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  justify-content: center;
  text-decoration: none;
  border-radius: 40px;
  transition: background-color 0.5s;
  margin: 1rem;
}

/* Stile di base per la NAVBAR */
.navbar {
  background-color: var(--links-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 80px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  padding: 1rem;
  z-index: 100;
}
.navbar--logo {
  display: flex;
}
.logoAf {
  width: 4rem;
  margin: 1rem;
  border-radius: 5px;
}
/*menu hamburger dispositivi piccoli*/
.nav__hamburger {
  display: flex;
  width: 1.875rem;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 200;
  gap: 0.2rem;
}
.nav__hamburger__line {
  height: 0.188rem;
  width: 100%;
  background-color: var(--black-color);
  transition: all ease-in-out;
  z-index: 200;
  justify-content: space space-between;
}

/*Menu items*/
.navbar--items {
  display: none;
  top: 100%;
  background-color: var(--links-color);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.navbar--items.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: var(--body-color);
  opacity: 0.9;
  padding: 6rem;

  gap: 1rem;
  width: 100%;
}
.navbar--items > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.navbar--items > ul > li > a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  padding: 0 1rem;
}

.navbar--items > ul > li > a :hover {
  color: var(--title-color);
  transform: scale(1.1);
}

/*======================FINE NAVBAR======================*/
/*=================HEROSECTION ==========================*/
.hero--section {
  display: flex;
  margin: 1rem;
}
.hero--img {
  width: 100%;
  height: auto;
}
.hero--section--title {
  font-family: "Dancing Script", serif;
  margin: 1rem;
  display: flex;
  justify-content: center;
}
.hero--section--subtitle {
  display: flex;
  font-family: "Crimson Text", serif;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin: 1rem;
}
.hero--section--description {
  justify-self: center;
  font-family: "Montserrat", sans-serif;
  margin: 1rem;
}
.btn.btn-primary {
  justify-self: center;
}
/*HEROSECTION dispositivi piccoli ENDS*/
/*ABOUT inizio dispositivi piccoli*/
.about--section {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.apicoltore {
  width: 100%;
  height: auto;
  margin: 1rem 0 1rem;
  left: 1rem;
  right: 1rem;
}
.about--section--container {
  background-color: var(--body-color);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
.about--section--heading {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Crimson Text", serif;
  color: var(--sections-color);
}
.about--section--title {
  font-family: "Crimson Text", serif;
  line-height: 2.5rem;
}
.about--section--description {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
}
/*========================fine About dispositivi piccoli====================*/
/*========================Prodotti piccoli dispositivi======================*/
.products--section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 20px;
}
.products--section--subtitle {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  color: var(--sections-color);
  font-size: 3rem;
}

.product--section--heading {
  display: flex;
  font-family: "Dancing Script", serif;
  font-weight: 400;
  font-size: 2rem;
  margin: 1rem;
  justify-items: center;
}
.products--section--container {
  background-color: var(--body-color);

  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.products--section--title {
  color: var(--title-color);
  font-size: 1.5rem;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
}
.products--section--card {
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  box-sizing: border-box;
}
.products--section--img {
  width: 100%;
  max-width: 300px;
}
.products--section--img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.products--section--description {
  font-family: "Montserrat", sans-serif;
  margin: 1rem;
}
/*Fine prodotti disp piccoli*/
/*Gallery Mobile*/
.vetrina-section {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  text-align: center;
  padding: 20px;
}
.carousel-container {
  width: 80%;
  margin: 0 auto;
}
.carousel-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.vetrina-heading {
  display: flex;
  justify-content: flex-start;
  font-family: "Crimson Text", serif;
  font-weight: 600;
  color: var(--sections-color);
  font-size: 3rem;
  margin-bottom: 1rem;
}
.vetrina--subtitle {
  display: flex;
  font-family: "Dancing script", sans-serif;
  justify-content: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 400;
}
/*contact form */
.contact--section {
  padding: 1.5rem;
}
.contact--form--container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--body-color);
  padding: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
}
.contact--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.message--label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-column: span 2;
}

.contact--section--heading {
  display: flex;
  justify-content: flex-start;
  font-family: "Crimson Text", serif;
  font-weight: 600;
  color: var(--title-color);
  font-size: 3rem;
  margin-bottom: 1rem;
}
.contact--section--subtitle {
  display: flex;
  font-family: "Dancing Script", serif;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.text-ig {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1.5rem;
}
.contact--label {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-style: oblique;
  margin: 1rem;
  gap: 1rem;

  grid-column: span 2;
}
.contact--input {
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--sections-color);
  border-radius: 4px;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  padding: 0.75rem;
  font-size: 1rem;
}
.contact--form--btn {
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--black-color);
  border-radius: 4px;
  cursor: pointer;
}

textarea.contact--input {
  resize: vertical;
}
.text-sm {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
}
/*Contact End*/
/*Footer*/
.footer-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--text-color-light);
  justify-content: flex-start;
}
.footer--logo {
  width: 4rem;
  display: flex;
  margin: 0.5rem;
  justify-content: left;
  border-radius: 5px;
}
.footer--link--container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.footer--items > ul {
  list-style: none;
  font-family: "Crimson Text", serif;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: center;
  gap: 1rem;
  font-size: 0.6rem;
  font-style: italic;
}

/*========================Media Queries==================*/
/*dispositivi medi */

@media (min-width: 768px) {
  .navbar {
    background-color: var(--links-color);
    top: 0;
    position: relative;
    display: flex;
    justify-self: center;
    right: 0;
    width: 100%;
  }
  .logoAf {
    width: 6rem;
    margin: 0.5rem;
  }
  .nav__hamburger {
    display: none;
  }
  .navbar--items {
    display: flex;
    align-items: center;
    box-shadow: none;
    padding: 0;
  }
  .navbar--items > ul {
    flex-direction: row;
  }
  .navbar--items > ul > li > a {
    font-size: 1rem;
  }

  /*hEROSECTION medi*/
  .hero--section--title {
    font-size: 2rem;
  }
  .hero--img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
    display: inline-block;
    overflow: hidden;
    left: 0;
    margin: 0;
  }

  /*about Medi */
  .about--section--content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .about--section--content--box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .about--section--img {
    flex: 1;
    max-width: 40%;
    height: auto;
  }
  .about--section--container {
    flex: 1;
    max-width: 40%;
  }

  .about--section--img,
  .about--section--container {
    max-width: 100%;
  }

  /*PRODUCTS SECTION dispositivi medi*/
  .products--section--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .products--section--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
  }
  .products--section--img img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
  }
  /*gallery dispositivi medi */
  .vetrina-section {
    display: flex;
    max-width: 800px;
    padding: 30px;
  }
  .carousel-container {
    display: flex;
    width: 90%;
    background-color: var(--body-color);
    padding: 2rem;
    border-radius: 5px;
  }
  .carousel-image {
    max-height: 800px;
  }
  .vetrina-heading {
    font-size: 3.5rem;
    justify-content: flex-start;
  }
  .vetrina--subtitle {
    font-size: 2.7rem;
    justify-content: center;
  }
  .contact--label {
    font-size: 1.5rem;
    gap: 3rem;
  }
  /*footer medi */
  .footer-container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    justify-self: center;
    position: relative;
  }
  .footer--link--container {
    display: flex;
    justify-items: center;
  }
  .footer--items > ul {
    font-size: 1.2rem;
    gap: 3rem;
    margin-left: 8rem;
  }
}

@media (min-width: 1200px) {
  .navbar {
    display: flex;
    background-color: var(--links-color);
    width: 100%;
    padding: 4rem;
    box-sizing: border-box;
  }
  .navbar--logo {
    display: flex;
  }
  .logoAf {
    width: 9rem;
  }
  .navbar--items > ul > li > a {
    font-size: 1.8rem;
    font-weight: 600;
    justify-content: center;
    gap: 3rem;
  }
  .social-icons {
    font-size: 2rem;
  }
  .social-icons:hover {
    color: var(--title-color);
  }
  /*Herosection dispositivi grandi */
  .hero--img {
    height: 25vw;
    object-fit: cover;
    object-position: top;
    display: block;
    box-sizing: border-box;
    left: 0;
  }

  /*About section dispositivi grandi */
  .about--section--content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .about--section--content--box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  }
  .about--section--img {
    flex: 1;
    max-width: 50%;
    height: auto;
    box-sizing: border-box;
  }
  .about--section--container {
    flex: 1;
    max-width: 45%;
    box-sizing: border-box;
  }

  .about--section--img .about--section--container {
    max-width: 90%;
  }
  /*prodottindispositivi grandi */
  .products--section--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .products--section--img {
    max-width: 300px;
  }
  /*Vetrina schermi grandi */
  .vetrina--section {
    max-width: 1200px;
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .carousel-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .carousel-image {
    max-height: 600px;
  }

  .vetrina--subtitle,
  .product--section--heading,
  .contact--section--subtitle {
    font-size: 3rem;
  }
  .contact--section--heading,
  .about--section--heading,
  .products--section--subtitle,
  .vetrina-heading {
    font-size: 4rem;
  }
  .contact--section--subtitle,
  .vetrina--subtitle,
  .product--section--heading {
    display: flex;
    justify-content: left;
  }
  /*footer dispositivi grandi*/
  .footer--logo {
    width: 5rem;
    display: flex;
    padding: 0.5rem;
  }
  .footer--items > ul {
    font-size: 2rem;
    text-decoration: underline;
  }
}
