/* -----------------------------------------FONT----------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

/* -----------------------------------------COLORS------------------------------------------------- */

/* * {
  padding: 10;
  margin: 10;
  box-sizing: border-box;
}

body {
  font-family: Qwitcher Grypen;
  font-size: large;
  color: ;
}

.logo {
  font-family: Roboto;
} */
